body {
  background-color: rgb(2 6 23); 
  color:white; 
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

code {
  font-family:font-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;